@using SimpleCrm.Web.Controllers
@model HomePageViewModel
@{
    ViewBag.Title = "Customers";
}
<h1>Customers</h1>

@foreach (var customer in Model.Customers)
{
    @Html.Partial("_Summary", customer);
}

<a asp-action="Create">Create</a>